@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a ASP.NETCoreWebApp.</p>
    <p>This has various projects from vsreedharv in different GIT repos: <a href="https://github.com/vsreedharv">vsreedharv</a></p>
</div>
